@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply -skew-y-3 m-2 py-2 px-2 bg-white text-black font-semibold shadow-md hover:bg-black hover:text-white focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-opacity-75 cursor-pointer;
  }

  .snack {
    @apply bg-cokeprimary text-white;
  }
  .card {
    @apply grid bg-white -skew-y-3 p-5 m-5 shadow-2xl
  }

  .backarrow {
    @apply text-5xl m-2 text-white hover:bg-spritesecondary hover:-skew-y-3 cursor-pointer
  }

  .tooltip {
    @apply invisible absolute bg-white text-black p-2 border-2
  }

  .has-tooltip:hover .tooltip {
    @apply visible z-50
  }

  .tenure {
    @apply bg-spritesecondary w-1/4 text-xs
  }

  .textbox {
    @apply text-xs m-1 p-1
  }

  .bold {
    @apply font-bold
  }

  .typewrite {
    @apply bg-black text-white w-max p-2 text-xs border-2
  }

  .skillname {
    @apply bg-spritesecondary text-cokesecondary w-max pl-1 pr-1 text-xs rounded-md absolute left-1 top-1
  }

  .skilldescription {
    @apply text-black
  }

  .skillcategory {
    @apply bg-pepsiprimary rounded-md text-white w-max p-1 text-xs absolute right-1 top-1
  }

  .skillperiod {
    @apply bg-black text-white w-max p-1 text-xs
  }

  .coke {
    background: linear-gradient(180deg, #f40009 0%, #1e1e1e 100%);
    font-family: 'Coca Cola ii'
  }

  .pepsi {
    background: linear-gradient(180deg, #c9002b 0%, #004b93 100%);
    font-family: 'PEPSI_pl'
  }

  .fanta {
    background: linear-gradient(180deg, #f7941e 0%, #2d3092 100%);
    font-family: 'Fanta-Regular'
  }

  .sprite {
    background: linear-gradient(180deg, #008b47 0%, #f8cd24 100%);
    font-family: 'Crillee Bold Italic Plain'
  }

  .weblink {
    @apply hover:bg-pepsisecondary hover:text-white cursor-pointer font-bold m-2
  }

  .problem {
    @apply bg-cokeprimary text-white has-tooltip w-3 text-xs text-center min-h-min
  }

  .solution {
    @apply bg-spriteprimary text-white has-tooltip w-3 text-xs text-center
  }

  .technology {
    @apply bg-fantaprimary text-white has-tooltip w-3 text-xs text-center
  }
}

html {
  height: 100vh;
}

body {
  background: linear-gradient(180deg, #f40009 0%, #1e1e1e 100%);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  font-family: 'sans-serif'
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

p {
  font-size: smaller;
}