@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply -skew-y-3 hover:skew-y-3 m-2 py-2 px-2 bg-white text-black font-semibold shadow-md hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 cursor-pointer;
  }
  .card {
    @apply grid bg-white -skew-y-3 p-10 m-10 shadow-2xl
  }
  .backarrow {
    @apply text-5xl m-2 hover:bg-white hover:-skew-y-3 cursor-grab
  }
  .typewrite {
    @apply bg-black text-white w-max p-2 text-xs
  }
}
html {
  height: 100vh;
}
body {
  background: linear-gradient(180deg, #ff008c 0%, rgb(211, 9, 225) 100%);
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
